.staff-list {
    max-width: 900px;
    margin: 40px auto;
}

.staff-list__title {
    position: relative;
    padding-left: 14px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.staff-list__title::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 20px;
    background: #000;
}

.staff-list__table {
    width: 100%;
    border-collapse: collapse;
}

.staff-list__table th,
.staff-list__table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    color: #737373;
}

.staff-list__table-wrapper {
    overflow-x: auto;
    border-radius: 10px;
    border: 1px solid #fff;
    background-color: #fff;
}

.staff-list__table th.staff-list__col-date,
.staff-list__table td.staff-list__date {
    text-align: left;
    padding-left: 40px;
    max-width: 80px;
    white-space: nowrap;
}

.staff-list__link {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.staff-list__link:hover {
    opacity: 0.7;
}