.staff-list__table {
    table-layout: fixed;
}

.staff-list__col--name,
.staff-list__col--email {
    color: #737373;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.staff-list__col--name {
    width: 250px;
    padding: 10px 10px 10px 100px;
}

.staff-list__col--email {
    width: 350px;
    padding: 10px 24px;
}

.staff-list__col--action {
    color: #737373;
    width: 250px;
    text-align: center;
    padding: 10px 100px 10px 10px;
}

.staff-list__link {
    color: #000;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

.staff-list__link:hover {
    opacity: 0.7;
}
