.stamp-request-index {
    max-width: 900px;
    margin: 40px auto;
}

.stamp-request-index__title {
    position: relative;
    padding-left: 14px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.stamp-request-index__title::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 20px;
    background: #000;
}

.stamp-request-index__table {
    width: 100%;
    border-collapse: collapse;
}

.stamp-request-index__table th,
.stamp-request-index__table td {
    padding: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    color: #737373;
}

.stamp-request-index__status {
    font-size: 16px;
    font-weight: bold;
}

.stamp-request-index__detail {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

.stamp-request-index__empty {
    padding: 20px;
}

.stamp-request-index__tabs {
    display: flex;
    gap: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.stamp-request-index__tab {
    padding: 10px 0;
    color: #666;
    text-decoration: none;
    position: relative;
    font-size: 16px;
    font-weight: bold;
}

.stamp-request-index__tab.is-active {
    color: #000;
    font-weight: bold;
    font-size: 16px;
}

.stamp-request-index__table-wrapper {
    overflow-x: auto;
    border-radius: 10px;
    border: 1px solid #fff;
    background-color: #fff;
}